@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Tops</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</center>
<!--CARD VIEW FOR USER ENTRIES-->
@foreach (var item in Model)
{

    <div class="row">
        <div class="col-md-4" />
        <div class="thumbnail">
            <a href="~/Content/womanshirt.jpg">
                <img src="~/Content/womanshirt.jpg" alt="woman shirt" />
            </a>
                <div class="caption">
                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                    <p>@Html.DisplayFor(modelItem => item.Type)</p>
                    <p>@Html.DisplayFor(modelItem => item.Color)</p>
                    <p>@Html.DisplayFor(modelItem => item.Season)</p>
                    <p>@Html.DisplayFor(modelItem => item.Occasion)</p>
                </div>
            <center>
                <div class="caption">
                    <a class="btn"> @Html.ActionLink("Edit", "Edit", new { id = item.TopsID })</a>
                    <a class="btn"> @Html.ActionLink("Details", "Details", new { id = item.TopsID })</a>
                    <a class="btn"> @Html.ActionLink("Delete", "Delete", new { id = item.TopsID })</a>
                </div>
            </center>
        </div>
    </div>
}

